$primary: #AC4759;
$primary-dark: #802031;

$warm: #BEB098;
$warm-light: rgba(190, 176, 152, 0.75);

$black: black;
$dark: #2C3E50;

$ice : #A6B8B4;
$light: #FFFCF5;
$pale : #DDE6E8;
$grey: #ededed;


