@import "variables";

body {
  background-color: white;
  color: $dark;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
    opacity: 1;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    position: relative;
    z-index: 9999;
    color: inherit;

    &.active{
      color: $primary;
    }

    &:hover {
      cursor: pointer;
      -webkit-transition: all 0.3s; /* Safari */
      transition: all 0.3s;
      color: inherit;

      .title{
        color: $primary;
      }
    }
  }

  .clear {
    clear: both;
  }

  .row {
    max-width: none;
  }

  .container {
    //max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-right {
    text-align: right;
  }

  .align-left {
    padding-left: 0;
  }

  .align-right {
    padding-right: 0;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .hidden {
    visibility: hidden;
  }

  .padding-top{
    padding-top: 60px;
  }

  .unveil a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    color: $primary;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
    white-space: nowrap;
  }

  .unveil a:hover::before,
  .unveil a:focus::before {
    max-width: 100%;
  }

  .button {
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $primary;
    font-family: 'Roboto', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    font-size: 12px;
    padding: 8px 15px 7px 15px;

    &:hover, &:active, &:focus {
      background-color: $warm;
    }
  }

  .valign {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-height{
    height: 100%;
  }

  .tag {
    padding: 3px 10px;
    background-color: $primary;
    color: white;
    font-family: "Fira Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 16px;

    &.special{
      background-color: $warm;
    }

  }

  canvas {
    display: block;
    vertical-align: bottom;
  }

}

  

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;

}


@media screen and (min-width: 1440px) {
  .valign-large {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


