/*** About ***/
/* line 5, ../scss/about.scss */
#intro {
  margin-left: 12%;
  margin-right: 15%;
  margin-top: 0px;
}
/* line 10, ../scss/about.scss */
#intro .title {
  font-family: "Dosis", Arial, sans-serif;
  margin-bottom: 0px;
  font-size: 45px;
  font-weight: 500;
  margin-top: 20px;
}
/* line 18, ../scss/about.scss */
#intro .subtitle {
  font-family: "Fira Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-bottom: 50px;
  margin-top: 10px;
}
/* line 28, ../scss/about.scss */
#intro p {
  font-weight: 400;
  font-size: 15px;
}
/* line 33, ../scss/about.scss */
#intro #more {
  margin-top: 50px;
  font-size: 14px;
  font-weight: 500;
}
/* line 38, ../scss/about.scss */
#intro #more .tag {
  margin-bottom: 15px;
}
/* line 42, ../scss/about.scss */
#intro #more ul {
  margin-left: 0;
}
/* line 44, ../scss/about.scss */
#intro #more ul li {
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #ededed;
}
/* line 50, ../scss/about.scss */
#intro #more ul li:last-child {
  border-bottom: 0;
}

/* line 59, ../scss/about.scss */
#banner {
  background: url("/portfolio/public/media/bg/banner.jpg") no-repeat;
  background-size: cover;
  background-position: right center;
  font-family: "Dosis", Arial, sans-serif;
  position: relative;
}
/* line 67, ../scss/about.scss */
#banner .title {
  color: white;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 65px;
  position: absolute;
  top: 0;
  left: 73px;
  transform: rotate(90deg);
  transform-origin: left top 0;
}
/* line 80, ../scss/about.scss */
#banner #social {
  position: absolute;
  bottom: 15px;
  right: 30px;
}
/* line 86, ../scss/about.scss */
#banner #social a img {
  width: 25px;
  margin-right: 20px;
}
/* line 92, ../scss/about.scss */
#banner #social a:last-child img {
  margin-right: 0;
}
