/* line 1, ../scss/tools/_general.scss */
a {
  text-decoration: none;
  opacity: 1;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
  position: relative;
  z-index: 9999;
}
/* line 9, ../scss/tools/_general.scss */
a:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}

/* line 17, ../scss/tools/_general.scss */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
/* line 25, ../scss/tools/_general.scss */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 4, ../scss/main.scss */
body {
  background-color: white;
  color: #2C3E50;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
}
/* line 12, ../scss/main.scss */
body a {
  color: inherit;
}
/* line 14, ../scss/main.scss */
body a:hover {
  color: #AC4759;
}
/* line 19, ../scss/main.scss */
body .hi-icon-wrap {
  padding: 0;
}
/* line 24, ../scss/main.scss */
body .hi-icon-effect-4 .hi-icon {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 0 4px #AC4759;
}
/* line 29, ../scss/main.scss */
body .hi-icon-effect-4 .hi-icon:after {
  border: 4px dashed #AC4759;
}
/* line 35, ../scss/main.scss */
body .clear {
  clear: both;
}
/* line 39, ../scss/main.scss */
body .row {
  max-width: none;
}
/* line 43, ../scss/main.scss */
body .container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/* line 49, ../scss/main.scss */
body .text-right {
  text-align: right;
}
/* line 53, ../scss/main.scss */
body .align-left {
  padding-left: 0;
}
/* line 57, ../scss/main.scss */
body .align-right {
  padding-right: 0;
}
/* line 61, ../scss/main.scss */
body .no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* line 67, ../scss/main.scss */
body .hidden {
  visibility: hidden;
}
/* line 71, ../scss/main.scss */
body .button {
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #AC4759;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  font-size: 12px;
  padding: 8px 15px 7px 15px;
}
/* line 83, ../scss/main.scss */
body .button:hover, body .button:active, body .button:focus {
  background-color: #BEB098;
}
/* line 88, ../scss/main.scss */
body #menu {
  background-color: white;
  font-family: 'Dosis', Arial, sans-serif;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}
/* line 96, ../scss/main.scss */
body #menu #logo {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  float: left;
  margin-bottom: 15px;
}
/* line 105, ../scss/main.scss */
body #menu #name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  color: #AC4759;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
/* line 114, ../scss/main.scss */
body #menu #job {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-top: 2px;
}
/* line 122, ../scss/main.scss */
body #menu ul {
  margin-top: 18px;
  float: right;
}
/* line 126, ../scss/main.scss */
body #menu ul li {
  list-style: none;
  float: left;
  margin-left: 45px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
/* line 138, ../scss/main.scss */
body #header {
  text-align: center;
  padding-top: 50px;
}
/* line 142, ../scss/main.scss */
body #header #picture {
  background: url("/portfolio/public/media/bg/home.jpg") no-repeat center 90%;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 430px;
}
/* line 150, ../scss/main.scss */
body #header #intro {
  margin-top: 70px;
  position: relative;
  z-index: 900;
}
/* line 156, ../scss/main.scss */
body #header #intro #face img {
  width: 100px;
  height: auto;
}
/* line 162, ../scss/main.scss */
body #header #intro #job {
  font-family: 'Dosis', Arial, sans-serif;
  margin-top: 45px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.2px;
}
/* line 174, ../scss/main.scss */
body #social {
  margin-top: 30px;
}
/* line 177, ../scss/main.scss */
body #social a img {
  width: 25px;
  margin-right: 20px;
}
/* line 183, ../scss/main.scss */
body #social a:last-child img {
  margin-right: 0;
}
/* line 190, ../scss/main.scss */
body #content {
  padding: 50px 30px;
}
