/* line 1, ../scss/tools/_general.scss */
a {
  text-decoration: none;
  opacity: 1;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
  position: relative;
  z-index: 9999;
}
/* line 9, ../scss/tools/_general.scss */
a:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}

/* line 17, ../scss/tools/_general.scss */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
/* line 25, ../scss/tools/_general.scss */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 4, ../scss/main.scss */
body {
  background-color: white;
  color: #2C3E50;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
}
/* line 12, ../scss/main.scss */
body a {
  color: inherit;
}
/* line 14, ../scss/main.scss */
body a:hover {
  color: #AC4759;
}
/* line 19, ../scss/main.scss */
body .hi-icon-wrap {
  padding: 0;
}
/* line 24, ../scss/main.scss */
body .hi-icon-effect-4 .hi-icon {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 0 4px #AC4759;
}
/* line 29, ../scss/main.scss */
body .hi-icon-effect-4 .hi-icon:after {
  border: 4px dashed #AC4759;
}
/* line 35, ../scss/main.scss */
body .clear {
  clear: both;
}
/* line 39, ../scss/main.scss */
body .row {
  max-width: none;
}
/* line 43, ../scss/main.scss */
body .container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/* line 49, ../scss/main.scss */
body .text-right {
  text-align: right;
}
/* line 53, ../scss/main.scss */
body .align-left {
  padding-left: 0;
}
/* line 57, ../scss/main.scss */
body .align-right {
  padding-right: 0;
}
/* line 61, ../scss/main.scss */
body .no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* line 67, ../scss/main.scss */
body .hidden {
  visibility: hidden;
}
/* line 71, ../scss/main.scss */
body .button {
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #AC4759;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  font-size: 12px;
  padding: 8px 15px 7px 15px;
}
/* line 83, ../scss/main.scss */
body .button:hover, body .button:active, body .button:focus {
  background-color: #BEB098;
}
/* line 88, ../scss/main.scss */
body .tag {
  padding: 3px 10px;
  background-color: #AC4759;
  color: white;
  font-family: "Dosis", Arial, sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 600;
  margin-bottom: 30px;
}
/* line 103, ../scss/main.scss */
body .menu {
  background-color: white;
  font-family: 'Dosis', Arial, sans-serif;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}
/* line 111, ../scss/main.scss */
body .menu #logo {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  float: left;
  margin-bottom: 15px;
}
/* line 120, ../scss/main.scss */
body .menu #name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  color: #AC4759;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
/* line 129, ../scss/main.scss */
body .menu #job {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-top: 2px;
}
/* line 137, ../scss/main.scss */
body .menu ul {
  margin-top: 18px;
  float: right;
}
/* line 141, ../scss/main.scss */
body .menu ul li {
  list-style: none;
  float: left;
  margin-left: 45px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
/* line 153, ../scss/main.scss */
body .padding-top {
  padding-top: 60px;
}
/* line 157, ../scss/main.scss */
body #banner {
  background: url("/portfolio/public/media/bg/banner.jpg") no-repeat center 68%;
  background-size: cover;
  height: 350px;
  margin-bottom: 50px;
  font-family: "Dosis", Arial, sans-serif;
}
/* line 164, ../scss/main.scss */
body #banner .container {
  height: 100%;
  position: relative;
}
/* line 168, ../scss/main.scss */
body #banner .container .title {
  color: white;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 60px;
  position: absolute;
  bottom: -22px;
}
/* line 181, ../scss/main.scss */
body #header {
  text-align: center;
}
/* line 184, ../scss/main.scss */
body #header #picture {
  background: url("/portfolio/public/media/bg/home.jpg") no-repeat center 90%;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 430px;
}
/* line 192, ../scss/main.scss */
body #header #intro {
  margin-top: 70px;
  position: relative;
  z-index: 900;
}
/* line 198, ../scss/main.scss */
body #header #intro #face img {
  width: 100px;
  height: auto;
}
/* line 204, ../scss/main.scss */
body #header #intro #job {
  font-family: 'Dosis', Arial, sans-serif;
  margin-top: 45px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.2px;
}
/* line 213, ../scss/main.scss */
body #header #social {
  margin-top: 30px;
}
/* line 216, ../scss/main.scss */
body #header #social a img {
  width: 25px;
  margin-right: 20px;
}
/* line 222, ../scss/main.scss */
body #header #social a:last-child img {
  margin-right: 0;
}
/* line 233, ../scss/main.scss */
body .content {
  padding: 0px 15px 50px 15px;
}
/* line 237, ../scss/main.scss */
body .content #project #image {
  height: 1500px;
  background-color: #BEB098;
  position: relative;
  padding-top: 30px;
  margin-bottom: 50px;
}
/* line 245, ../scss/main.scss */
body .content #project #title {
  font-family: "Dosis", Arial, sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 30px;
}
/* line 254, ../scss/main.scss */
body .content #project #description {
  font-size: 18px;
}
/* line 258, ../scss/main.scss */
body .content #project #infos {
  margin-top: 50px;
  font-weight: 500;
  font-size: 15px;
  text-align: right;
}
/* line 267, ../scss/main.scss */
body .content #about {
  margin-top: 75px;
}
/* line 269, ../scss/main.scss */
body .content #about .intro {
  font-family: "Dosis", Arial, sans-serif;
  margin-bottom: 30px;
  font-size: 35px;
  color: #AC4759;
  font-weight: 500;
  margin-top: 20px;
}
/* line 278, ../scss/main.scss */
body .content #about p {
  font-weight: 400;
  font-size: 15px;
}
/* line 284, ../scss/main.scss */
body .content #more {
  margin-top: 75px;
  font-size: 15px;
}
/* line 290, ../scss/main.scss */
body .content #more ul {
  margin-left: 0;
}
/* line 292, ../scss/main.scss */
body .content #more ul li {
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #ededed;
}
/* line 298, ../scss/main.scss */
body .content #more ul li:last-child {
  border-bottom: 0;
}
/* line 305, ../scss/main.scss */
body .content #more #facts {
  text-align: center;
  width: 275px;
}
/* line 308, ../scss/main.scss */
body .content #more #facts .tag {
  background-color: #BEB098;
}
/* line 323, ../scss/main.scss */
body .content #photo img {
  height: 300px;
  width: auto;
}
/* line 330, ../scss/main.scss */
body .content hr {
  border: none;
  height: 3px;
  background-color: #ededed;
  margin-bottom: 50px;
}
/* line 337, ../scss/main.scss */
body .content .project {
  margin: 60px 0;
}
/* line 340, ../scss/main.scss */
body .content .project .title {
  font-family: 'Dosis', Arial, sans-serif;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 45px;
}
/* line 350, ../scss/main.scss */
body .content .project p {
  font-size: 14px;
  margin-right: 30px;
}
/* line 354, ../scss/main.scss */
body .content .project p.right {
  margin-left: 30px;
}
/* line 359, ../scss/main.scss */
body .content .project .image {
  width: 100%;
  height: 300px;
  background-color: #BEB098;
}
/* line 366, ../scss/main.scss */
body .content .thumbnail {
  border: none;
  box-shadow: none;
}
/* line 370, ../scss/main.scss */
body .content .thumbnail .image {
  width: 100%;
  height: 175px;
  background-color: #ededed;
}
