/* line 4, ../scss/project.scss */
#project .container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 75px;
}
/* line 10, ../scss/project.scss */
#project #image {
  height: 3000px;
  background-color: #BEB098;
  position: relative;
  padding-top: 30px;
  margin-bottom: 50px;
  background-size: cover;
}
/* line 19, ../scss/project.scss */
#project #title {
  font-family: "Dosis", Arial, sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 30px;
}
/* line 28, ../scss/project.scss */
#project #description {
  font-size: 18px;
}
/* line 32, ../scss/project.scss */
#project #infos {
  margin-top: 50px;
  font-weight: 500;
  font-size: 15px;
  text-align: right;
}
