@import "tools/variables";

#footer{
	padding: 0 5% 30px 5%;
	font-size: 14px;
	font-weight:bold;

	hr{
		height: 2px;
		border: none;
		background-color: $warm-light;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	&.unveil{
		.text-right{
			font-family: "Fira Sans", Arial, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $black;
		}

		b{
			color: $primary;
		}

        a{
        
        	&:before{
	          top: -2px;
	        }
        }
        
      }
}