@import "tools/variables";

.menu{
  background-color: white;
  font-family: 'Dosis', Arial, sans-serif;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 99999;
  padding-left: 5%;

  // LINKS
  nav a:hover,
  nav a:focus {
    outline: none;
  }

  #logo{
    margin-top: 17px;
    width: 22px;
    height: auto;
    margin-right: 20px;
    float: left;
    margin-bottom: 15px;
  }

  #name{
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Fira Sans", Arial, sans-serif;
  }

  #job{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-top: 2px;
  }

  .unveil{
    padding-right: 10%;
    margin-top: 18px;
    float: right;
    letter-spacing: 1.2px;
    font-family: "Fira Sans", Arial, sans-serif;
    font-weight: 500;

    a{
      list-style: none;
      float: left;
      margin-left: 45px;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}