@import "tools/variables";

body{
    background: url("/public/media/bg/home.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: $dark;
    font-family: "Open Sans", Arial, sans-serif;

    #login{
        text-align: center;

        h1{
            color: $warm;
            font-family: 'Special Elite', cursive;
        } 
    }
}
